<mat-card>
  <form [formGroup]="leagueStepForm">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Nazwa Ligi" required />
    </mat-form-field>
    <!-- <input placeholder="Naasdasdasdsadme" #file type="file" accept="image/*" (change)="preview(file.files)" />
    <img [src]="imgURL" height="200" *ngIf="imgURL" /> -->
    <mat-card-actions>
      <button mat-raised-button (click)="onSubmit()" class="nav-btn pull-right">
        Dalej
      </button>
    </mat-card-actions>
  </form>
</mat-card>
