<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <mat-card-title>Dodaj wynik</mat-card-title>
              <mat-card-subtitle>subtitle</mat-card-subtitle>
              asdadasd
          </mat-card-content>
      </mat-card>
  </div>
</div>
