<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Witamy w Lidze !
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <app-fixture-tab></app-fixture-tab>
    </div>
    <!-- column -->
</div>
<app-last-matches></app-last-matches>
