<div fxLayout="row wrap">
  <!-- Card column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Ostatnie Mecze</mat-card-title>
        <mat-card-subtitle>Ostatnie rozegrane spotkania</mat-card-subtitle>

        <div *ngFor="let match of matches | async">

          <h5>{{ match.homeTeam }} vs. {{ match.awayTeam }} {{ match.homeGoals }}:{{ match.awayGoals }}</h5>
          <p>Towarzyski, rozegrany: {{ match.date}} </p>
          <mat-divider></mat-divider>
        </div>
      </mat-card-content>
    </mat-card>
