<h3>Dodaj Zespół</h3>
<form [formGroup]="teamForm" (ngSubmit)="onSubmit()" class="car-form">
  <mat-form-field>
    <input matInput placeholder="Nazwa" formControlName="name" />
    <mat-error *ngIf="f.name.hasError('required')">
      Nazwa jest <strong>wymagana</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" />
    <mat-error *ngIf="f.email.hasError('required')">
      Adres Email jest <strong>Wymamagany</strong>
    </mat-error>
  </mat-form-field>

  <div class="form-group">
    <button mat-raised-button color="primary" [disabled]="teamForm.invalid">
      Zapisz
    </button>
  </div>
</form>
