<form [formGroup]="scoreForm" fxFlex.gt-sm="100%" fxFlex="100">
  <div [formGroupName]="fgName">
    <mat-card>
      <mat-card-content>
        <div class="d-flex no-block">
          <div class="m-r-10 no-shrink">
            <button *ngIf="fgName == 'homeTeam'" mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
              <mat-icon>home</mat-icon>
            </button>
            <button *ngIf="fgName == 'awayTeam'" mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
              <mat-icon>flight_land</mat-icon>
            </button>
          </div>
          <div>
            <mat-form-field>
              <input type="text" placeholder="Wybierz" aria-label="Zespoł" matInput [matAutocomplete]="auto"
                formControlName="teamId">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTeam()">
                <mat-option *ngFor="let team of teams" [value]="team.id">
                  {{team.firstName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input type="number" matInput placeholder="Wynik" formControlName="goals">
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addPlayerScore()">Dodaj strzelca</button>
        <div formArrayName="scorers">
          <div *ngFor="let scorers of scorersForm.controls; let i=index">
            <div [formGroupName]="i">

              <app-add-goal-scorer [goalScorerForm]="scorersForm.controls[i]"></app-add-goal-scorer>
              <!-- <input type="number" matInput placeholder="playerId" formControlName="playerId"> -->
            </div>
          </div>
        </div>
        <!-- <app-add-goal-scorer></app-add-goal-scorer> -->
      </mat-card-content>
    </mat-card>
  </div>
</form>
