<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Nowy Sezon</mat-card-title>
      </mat-card-content>
    </mat-card>
    <form [formGroup]="seasonFormGroup">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Konfiguracja sezonu</mat-card-title>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Wybierz date rozpoczęcia" formControlName="startdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <mat-card-title>
            Konfiguracja Dywizji
            <button class="right-button" mat-raised-button color="primary" (click)='addNewDivision()'>Dodaj
              Nową</button>
          </mat-card-title>

          <mat-accordion>
            <div formArrayName="divisions" cdkDropList (cdkDropListDropped)="drop($event)">
              <div *ngFor="let division of formArray.controls; let i = index" cdkDrag>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Dywizja : {{ division.controls["name"].value}}
                    </mat-panel-title>
                    <mat-panel-description>
                      Hierarchia {{ division.controls["hierarchy"].value}}
                      <mat-icon *ngIf="!division.valid" class="red-icon">highlight_off</mat-icon>
                      <mat-icon *ngIf="division.valid" class="green-icon">check_circle_outline</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div [formGroupName]="i">
                    <mat-form-field>
                      <input matInput placeholder="Nazwa Dywizji" formControlName="name">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput type="number" placeholder="Liczba promowanych zespołów"
                        formControlName="numberOfPromoted">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput type="number" placeholder="Liczba degradowanych zespołów"
                        formControlName="numberOfDegraded">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>
              </div>
            </div>
          </mat-accordion>
        </mat-card-content>
      </mat-card>


      <button class="right-button" mat-raised-button color="primary" [disabled]="!seasonFormGroup.valid"
        (click)='onSubmit()'>Zapisz</button>
    </form>
  </div>
</div>