<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Nowa dywizja
        </mat-panel-title>
        <mat-panel-description>
          numer: {{ divisionForm.controls['hierarchy'].value }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div [formGroup]="divisionForm"></div>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Nazwa dywizji">
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
