<h3>Kreator Sezonu</h3>

----------------
<br />
<mat-horizontal-stepper linear #stepper>
	<mat-step [stepControl]="leagueStepForm">
		<ng-template matStepLabel>Szczegóły Ligi</ng-template>
		<app-league-step [stepper] ="stepper"></app-league-step>
	</mat-step>
	<mat-step [stepControl]="frmStepTwo">
		<ng-template matStepLabel>Szczegóły Dywizji</ng-template>
		<app-division-step [stepper] ="stepper"></app-division-step>
	</mat-step>
	<mat-step [stepControl]="frmStepThree">
		<ng-template matStepLabel>Zespoły</ng-template>
		<app-team-step></app-team-step>
	</mat-step>
</mat-horizontal-stepper>

